# ============================================================================
# LLM API Keys (see LiteLLM docmentation to test other models)
# ============================================================================
OPENAI_API_KEY=...
GEMINI_API_KEY=...
ANTHROPIC_API_KEY=...

# ============================================================================
# Search Engine API Keys
# ============================================================================
GOOGLE_API_KEY=...
GOOGLE_CSE_ID=...
PERPLEXITY_API_KEY=...
BRAVE_API_KEY=...
EXA_API_KEY=...
TAVILY_API_KEY=...
SERPER_API_KEY=...